/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content:"";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    z-index: -1;
}

/*  Navigation Bar: logo and image */

#logo{
    margin: 10px 34px;
}

#logo img{
    height: 60px;
    margin: 3px 6px;
}

/*  Navigation Bar: list styling */

#navbar ul{
    display: flex;
    font-family: 'Preahvihear', sans-serif;
}


#navbar ul li{
    list-style: none;
    font-size: 1.3rem  ;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
    
}

/* home section */

#home{
    display: flex;
    flex-direction: column;
    padding: 4px 200px;
    height: 494px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content:"";
    position: absolute;
    background: url(../bg1.jpg) no-repeat center center/cover;
    height: 82%;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.85;
    z-index: -1;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'DynaPuff', cursive;

}

html{
    scroll-behavior: smooth;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'DynaPuff', cursive;
}

/* Services Section */
#services{
   margin: 34px;
    display: flex;
}

#services .box{
   border: 2px solid indigo;
   margin: 4px;   
   padding: 3px;
   border-radius: 9px;
   background-color: #ebe7e1;
}

#services .box img{
    height: 124px;
    display: block;
    margin: auto;
}

#services .box p{
    font-family: 'DynaPuff', cursive;
}

/* Client Section */

#client-section{
    height: 344px;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg.jpg');
    width: 100%;
    height: 45%;
    z-index: -1;
    opacity: 0.5;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 33px;
}

#clients img{
    height: 124px;
}

/* Contact Section */
#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;
}

/* Footer */
footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;

}

#contact-box label{
    font-size: 1.2rem; 
}

/* Utility Classes */

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'DynaPuff', cursive;
}

.h-secondary{
    font-size: 2.2rem;
    padding: 12px;
    font-family: 'Preahvihear', sans-serif;
}


.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 23px;
    cursor: pointer;
}

.center{
    text-align: center;
}
